body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-div {

    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
}

#div1 {
    flex-grow: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 1%;
    z-index: 5;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);


}

#div1 h1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

#nav-div {

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    flex-grow: 4.5;
}

#nav-div a {
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10%;
    margin-bottom: 20%;
    font-size: large;
    color: black;
    border-bottom: 1px solid grey;

}

#nav-div a:hover {
    color: color(srgb 0.2771 0.6753 0.47);
}




#bottom-div {
    flex-grow: 2;
    padding-top: 40%;

}

#bottom-div p {
    font-size: 15px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#bottom-div button {
    width: 70%;
    margin-bottom: 5%;
}


.button {
    display: inline-block;
    background-color: color(srgb 0.2771 0.6753 0.47);
    color: white;
    padding: 20px 20px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.try-it-yourself-button:active {
    background-color: #3e8e41;
}



#div2 {
    flex-grow: 9;
    z-index: 4;
    background-color: var(--color-texthighlight, #d9d9d9);
    padding: 3% 10%;
}

#req {
    text-align: left;

    color: #45a049;

}

#div21 {
    background-color: white;
    padding-bottom: 3%;
    margin: 3% 0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

#div22 {
    flex-grow: 6;
    background-color: white;
    border-radius: 35px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.det {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    padding: 3% 0 0 6%;
}

.det div {
    padding: 1% 0;

}


.det div:nth-child(2) {
    border: 1px solid;
    padding: 1% 3%;
    margin: 0 3%;
    border-color: transparent var(--color-texthighlight, #a09b9b);
}

.det div h2 {
    color: color(srgb 0.2771 0.6753 0.47);
    font-size: 18px;
    margin: 2% 0;
}

.det div p {
    color: var(--color-texthighlight, #a09b9b);
    font-size: 13px;
    margin: 0;
}

.type {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    border: 1px solid var(--color-texthighlight, #a09b9b);
    max-width: 60%;
    margin: 2% 5%;
    border-radius: 25px;
}

.type span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    flex-grow: 1x;
    padding: 1%;
    width: 31%;
    color: var(--color-texthighlight, #a09b9b);
    border-radius: 25px;
    cursor: pointer;


}


#div21 .type span:hover {
    background-color: #f9fc43ed;
}


.type span:nth-child(2) {
    border: 1px solid;
    border-radius: 0;
    border-color: transparent var(--color-texthighlight, #a09b9b);

}

.type span:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.type span:nth-child(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

#div22 .type {
    background-color: color(srgb 0.2771 0.6753 0.47);


}

#div22 .type span {
    color: white;
    text-align: left;
    padding: 1.5% 3%;
    font-size: 15;
}

#card-div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.card {
    flex-grow: 1;
    max-width: 28%;
    /* border: 1px solid black; */
}

.logo-img {
    display: inline;
    flex-shrink: 0;
    width: 50%;
}


.card span {
    position: relative;
    display: inline;
    left: 45%;
    color: white;
    padding: 1vh;
    border-radius: 5px;
    background-color: rgb(215, 82, 82);
    z-index: 5;
}

.logo-div {
    position: relative;
    bottom: 3vh;
    margin-top: 5%;
    background-color: color(srgb 0.9616 0.9567 0.9569);
    border-radius: 15px;
    border: 1px solid var(--color-texthighlight, #e0dddd);

}

.c1 p {
    color: var(--color-texthighlight, #a09b9b);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.c3 p {

    font-size: 15px;
}

.c2 {
    padding-top: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--color-texthighlight, #e0dddd);
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.3);
}

#msg {
    position: fixed;
    bottom: 8vh;
    right: 2vh;
    width: 10vh;
    height: auto;
    z-index: 6;
    cursor: pointer;
}

#msg:hover{
    opacity: 0.7;
}
